/*--------------------------------------------------------------
# Global Styles & CSS Variables
--------------------------------------------------------------*/

:root {
	--brandred: #991108;
	--bgblack: #191816;
}

.container {
	width: 100%;
	margin: 0 auto;
}

/*--------------------------------------------------------------
# Eric Meyer CSS Reset
--------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/

/* Main */

body {
	background-color: var(--bgblack);
	color: white;
}

#main {
	display: grid;
	grid-template-rows: 100vh auto;
}

/* Hero */

.hero {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items: center;
	height: 100vh;
}

#image {
	align-self: start;
	height: auto;
	max-width: 100%;
}

.tribute-details {
	text-align: center;
	justify-content: center;
}

.tribute-details h1 {
	font-family: Anton, sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
}

.tribute-details p {
	font-family: Merriweather, serif;
	font-size: 0.75em;
}

.tribute-details hr {
	border: 1.5px solid var(--brandred);
	margin: 3px 0 10px;
}

/* Tribute Info */

#tribute-info {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	padding: 3rem 4rem;
}

#tribute-info p {
	font-family: Raleway, sans-serif;
	font-size: 1em;
	text-align: center;
}

/* Program Cards */

.program-cards {
	display: grid;
	grid-template-columns: 300px;
	grid-gap: 3em;
	justify-content: center;
	padding: 3em 0;
}

.program {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}

.program img {
	height: 450px;
	max-width: 100%;
}

.program-info {
	display: grid;
	grid-template-rows: auto auto 3fr;
	padding: 0 1em;
	border: 1px solid var(--brandred);
	border-top: none;
}

.program-title {
	align-self: center;
	font-family: Anton, sans-serif;
	font-size: 1.45em;
	padding: 0.5em 0 0.25em;
}

.program-details {
	font-family: Raleway, sans-serif;
	font-size: 0.75em;
	padding: 0 0 0.75em;
}

.program-summary {
	font-family: Raleway, sans-serif;
	font-size: 0.9em;
	padding: 0.25em 0 1.5em;
}

.program-link {
	padding: 1em;
	border: 1px solid var(--brandred);
	border-top: none;
}

.program-link a {
	font-family: Raleway, sans-serif;
	font-size: 1em;
	color: #888888;
	text-decoration: none;
}

.program-link a:hover {
	color: #9e9e9e;
	text-decoration: underline;
}

/* Quote */

.tribute-quote {
	background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),
				left -200px bottom / cover no-repeat url("https://i.postimg.cc/632Y9GBy/abourdain-parts-unknown-oman.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 800px;
	max-width: 100%;
}

.quote {
	font-family: Raleway, sans-serif;
	font-size: 1.15em;
	text-align: center;
	padding: 0 5em;
}

.author {
	font-family: Raleway, sans-serif;
	font-size: 0.75em;
	text-align: center;
	padding: 1em 5em 0;
}

/* Read More */

.read-more {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 9em;
	margin: 0 auto;
}

.read-more button {
	background-color: var(--brandred);
	padding: 1.5em;
	border: none;
	border-radius: 5px;
}

.read-more * a {
	font-family: Raleway, sans-serif;
	font-size: 1em;
	color: #FFF;
	text-decoration: none;
}

.read-more button:hover {
	background-color: #E5100A;
}

.read-more * a:hover {
	text-decoration: underline;
}

/* Footer */

.tribute-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: Raleway, sans-serif;
	text-align: center;
	height: 5em;
}

.tribute-footer hr {
	border: 1.5px solid var(--brandred);
	width: 50%;
	margin: 0 auto;
}

.tribute-footer a {
	font-weight: 700;
	color: var(--brandred);
	text-decoration: none;
}

/*--------------------------------------------------------------
# Media Breakpoints
--------------------------------------------------------------*/

@media (min-width: 540px) {

	/* Hero */

	.hero {
		grid-template-rows: 1fr;
	}

	#image {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	/* Tribute Info */

	.tribute-info { margin-top: 225px; }

	#tribute-info p {
		font-size: 1.5em;
		width: 350px;
		margin: 0 auto;
	}

	.tribute-details {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		align-self: center;
		padding-top: 10em;
	}

	.tribute-details h1 { font-size: 2.5em; }

	.tribute-details p { font-size: 1.75em; }

	.tribute-details hr { border: 3px solid var(--brandred); }

	/* Quote */

	.tribute-quote {
		background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),
					left / cover no-repeat url("https://i.postimg.cc/632Y9GBy/abourdain-parts-unknown-oman.jpg");
		font-size: 1.5em;
	}

}

@media (min-width: 768px) {

	/* Program Cards */

	.program-cards {
		grid-template-columns: repeat(2, 300px);
		padding: 5em;
	}
	
	.program {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	.program-title { font-size: 2em; }

	.program-details { font-size: 1.25em; }

	.program-summary { font-size: 1.35em; }

}

@media (min-width: 1600px) {

	.container { max-width: 1200px; }

	/* Program Cards */

	.program-cards { grid-template-columns: repeat(4, 1fr); }

	.program img { height: 675px; }

	/* Footer */

	.tribute-footer hr { width: 25%; }

}