/*--------------------------------------------------------------
# CSS Variables
--------------------------------------------------------------*/

:root {
	--brandred: #E5100A;
	--bgblack: #191816;
}

/*--------------------------------------------------------------
# Eric Meyer CSS Reset
--------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/

/* Main */

body {
	background-color: var(--bgblack);
	color: white;
}

/* Hero */

.hero {
	display: grid;
	grid-template-rows: 2fr 1fr;
	justify-items: center;
	align-items: center;
	height: 100vh;
}

#image {
	height: auto;
	max-width: 100%;
}

.tribute-details {
	text-align: center;
	justify-content: center;
}

.tribute-details h1 {
	font-family: Anton, sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
}

.tribute-details p {
	font-family: Merriweather, serif;
	font-size: 0.75em;
}

.tribute-details hr {
	border: 1.5px solid var(--brandred);
	margin: 3px 0 10px;
}

/*--------------------------------------------------------------
# Media Breakpoints
--------------------------------------------------------------*/

@media (min-width: 700px) and (max-width: 1200px) {

	.hero {
		grid-template-rows: 1fr;
		height: 0;
	}

	#image {
		/* max-height: 100%;
		max-width: 100%; */
		/* border: 1px solid white; */
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		height: 100vh;
		width: 100%;
	}

	.tribute-details {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		align-self: center;
		padding-top: 10em;
	}

	.tribute-details h1 {
		font-size: 2.5em;
	}

	.tribute-details p {
		font-size: 1.75em;
	}

	.tribute-details hr {
		border: 3px solid var(--brandred);
	}

}

@media (min-width: 1200px) {

	.hero {
		grid-template-rows: 2fr 1fr;
		height: calc(100vh - 3px);
		padding-top: 3px;
	}

	#image {
		max-height: 100%;
		max-width: 100%;
		border: 1px solid white;
	}

	.tribute-details h1 {
		font-size: 2.5em;
	}

	.tribute-details p {
		font-size: 1.75em;
	}

	.tribute-details hr {
		border: 3px solid var(--brandred);
	}

}